.banner {
  width: 80%;
  height: 70%;
  top: 30%;
  left: 8%;
  position: absolute;
}
.app-text {
  width: 80%;
  float: left;
  position:relative;
  animation:animateleft 1.5s
}
@keyframes animateleft{
  from{left:-300px;opacity:0} to{left:0;opacity:1}
}
.app-text h1{
  font-size: 50px;
  font-family: sans-serif;
  width: 640px;
  position: relative;
  margin-left: 40px;
}
.app-text p{
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}
.app-picture{
  width: 900px;
  float: right;
}
.app-picture img{
  width: 100%;
  margin-top: -500px;
  padding-left: 50px;
  position:relative;
  animation:animateright 1.5s
}
@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}
}