<div class="banner">
  <div class="app-text">
    <h1>About FinIQ</h1>
    <p>Since 2001, FinIQ has been a market leader in financial product distribution space. FinIQ offers both single-dealer as well as multi-dealer pricing and execution solutions and trade life cycle support.
	<br><br>
	FX, equity, fixed income linked flow business as well as non-flow business involving one-off investment, OTC or structured products are handled equally well by the FinIQ system. It offers a one-of-its-kind toolkit called UCP or User Configured Products which enables banks to design their own products within matter of days. The system also supports booking of traditional investment products including funds, shares and insurance.
	<br><br></p>
  </div>
  <div class="app-picture">
  	<img src="../assets/images/oie_transparent.png" alt="disp" usemap="#world">
      <map name="world">
        <area shape="circle" coords="206,135,10" alt="US" class="tooltip" title="United States" >
        <area shape="circle" coords="322,109,10" alt="UK" class="tooltip" title="United Kingdom"  >
        <area shape="circle" coords="479,200,10" alt="IND" class="tooltip" title="India"  >
        <area shape="circle" coords="532,223,10" alt="MY" class="tooltip" title="Mayanmar" >
        <area shape="circle" coords="542,237,10" alt="SG" class="tooltip" title="Singapore" >
        <area shape="circle" coords="625,331,10" alt="AU" class="tooltip" title="Australia" >
        <area shape="circle" coords="613,155,10" alt="JP" class="tooltip" title="Japan" >
        <area shape="circle" coords="578,185,10" alt="TW" class="tooltip" title="Taiwan" >
        <area shape="circle" coords="559,191,10" alt="HK" class="tooltip" title="Honkong ">
        <area shape="circle" coords="546,205,10" alt="TH" class="tooltip" title="Thailand">
        <area shape="circle" coords="555,255,10" alt="ID" class="tooltip" title="Indonesia">
      </map>
  </div>
</div>