<!--<div class="heading">
<hr>
<h1 style="padding-left: 20px;">About Us</h1>
<hr>
<br>
</div>
<img src="../assets/images/worldMap.png">
<p style="padding-left: 20px; padding-right: 220px; font-size: 19px;">
Since 2001, FinIQ has been a market leader in financial product distribution space. FinIQ offers both single-dealer as well as multi-dealer pricing and execution solutions and trade life cycle support.
<br><br>
FX, equity, fixed income linked flow business as well as non-flow business involving one-off investment, OTC or structured products are handled equally well by the FinIQ system. It offers a one-of-its-kind toolkit called UCP or User Configured Products which enables banks to design their own products within matter of days. The system also supports booking of traditional investment products including funds, shares and insurance.
<br><br>
The solution automates workflows including RFQ and response, Order management, Execution management, Trade capture, Life cycle, Collateral, MTM, Corporate actions, Payout and Documentation management. It seamlessly integrates into bank's market risk, client portfolio systems and accounting systems. FinIQ's specialty lies in the fact that its system is used by relationship managers and not just the execution dealers. Over 15,000 bankers from 40 banks use the FinIQ System today.
<br><br>
FinIQ's EQ-Connect, FI-Connect and FXD-Connect platforms give FinIQ a unique distinction of being the only vendor platform in the world that automates best execution for equity linked structured products, FX structures and fixed income bonds. 25 leading banks are part of the FinIQ liquidity panel and the list is growing. FinIQ liquidity solutions can be accessed using FinIQ web GUI or FinIQ mobile apps or via third party GUI using API packages offered by FinIQ.
</p>-->
<div class="banner">
  <div class="app-text">
    <h1>About FinIQ</h1>
    <p>Since 2001, FinIQ has been a market leader in financial product distribution space. FinIQ offers both single-dealer as well as multi-dealer pricing and execution solutions and trade life cycle support.
	<br><br>
	FX, equity, fixed income linked flow business as well as non-flow business involving one-off investment, OTC or structured products are handled equally well by the FinIQ system. It offers a one-of-its-kind toolkit called UCP or User Configured Products which enables banks to design their own products within matter of days. The system also supports booking of traditional investment products including funds, shares and insurance.
	<br><br></p>
  </div>
  <div class="app-picture">
  	<img src="../assets/images/worldMap.png" alt="">
  </div>
</div>
<!-- <div class="banner-right">
	<div class="app-text-right">
		<h1>About Dipti and Shreyas</h1>
	</div>
	<div class="app-picture-left">
		<img src="../assets/images/finiq.png">
	</div>
</div> -->