<div class="heading">
  <hr>
  <h1 style="padding-left: 20px;">Trading Platform</h1>
  <hr>
  <br>

  
  <table style="width: 80%; margin-left: 10%;">
    <tr valign="top">
    <td>
    <form #tradingForm="ngForm" style="padding-left: 20px;">

    <div class="">
      <label for="">Base Currency</label>&nbsp;
      <select class="btn" name="baseCurrency" [(ngModel)]="base">
        <option *ngFor="let currency of currencies" value="{{currency}}"><span>{{currency}}</span></option>
      </select>&nbsp;&nbsp;
      <label for="">Quote Currency</label>&nbsp;
      <select class="btn" name="quoteCurrency" [(ngModel)]="quote">
        <option *ngFor="let currency of currencies" value="{{currency}}"><span>{{currency}}</span></option>
      </select>
    </div>
    <br>
    <button class="btn" name="button" (click)="show()" style="margin-left: 175px;"><span>Get Update</span></button>
  </form>
  </td>
  <td rowspan="2">
    <div class="heading" *ngIf="showData">
  <table class="smallTable">
    <tr>
      <th rowspan="2">Base Currency</th>
      <th>Symbol</th>
        <td>{{realData.From_Currency_Code}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{realData.From_Currency_Name}}</td>
    </tr>
    <tr>
      <th rowspan="2">Quote Currency</th>
      <th>Symbol</th>
        <td>{{realData.To_Currency_Code}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{realData.To_Currency_Name}}</td>
    </tr>
    <tr>
      <th colspan="2">Exchange Rate</th>
      <td>{{realData.Exchange_Rate}}</td>
    </tr>
    <tr>
      <th colspan="2">Last Updated</th>
      <td>{{realData.Last_Refreshed | date: "HH:mm"}}</td>
    </tr>
    <tr>
      <th colspan="2">Time Zone</th>
      <td>{{realData.Time_Zone}}</td>
    </tr>
    <tr>
      <th colspan="2">Bid</th>
      <td>{{realData.Bid_price}}</td>
    </tr>
    <tr>
      <th colspan="2">Ask</th>
      <td>{{realData.Ask_price}}</td>
    </tr>
    <tr>
      <th colspan="2">Spread (Pips)</th>
      <td>{{realData.Spread}}</td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn" name="tradeButton" (click)="trade=true" style="margin: 0% 0% 5% 25%;"><span>Click here to trade</span></button>
      </td>
    </tr>
  </table>
    <br>
    </div>

  </td>
  <td>
    <div *ngIf="trade" style="margin-left: 30%;">
  <form #tradeVolume="ngForm">
    <select class="btn" name="buy-sell" [(ngModel)]='option' style="width: 150px; height: 40px; text-align: center;">
      <option value="buy"><span>Buy</span></option>
      <option value="sell"><span>Sell</span></option>
    </select>
    <div *ngIf="option==='buy'">
      <div>
        <br>
        <label for="custBuy">Buy</label>
        <select class="btn" name="custBuy" [(ngModel)]="custBuy">
          <option value="{{base}}"><span>{{base}}</span></option>
          <option value="{{quote}}"><span>{{quote}}</span></option>
        </select>
        <label for="volume">Volume</label>
        <input type="number" name="volume" [(ngModel)]="buyVolume" placeholder="Enter amount">
      </div>

      <div>
        <label for="custSell">Sell</label>
        <select class="btn" name="custSell" [(ngModel)]="custSell">
          <option value="{{base}}" *ngIf="custBuy===quote"><span>{{base}}</span></option>
          <option value="{{quote}}" *ngIf="custBuy===base"><span>{{quote}}</span></option>
        </select>
        <label for="volume">Volume</label>
        <input type="number" name="bVolume" *ngShow="buyVolume.length" value="{{buyPrice}}" disabled>
        <p name="volume">{{buyPrice}}</p>
      </div>
    </div>

    <div *ngIf="option==='sell'">
      <div>
        <br>
        <label for="custBuy">Sell</label>
        <select class="btn" name="custBuy" [(ngModel)]="custBuy">
          <option value="{{base}}"><span>{{base}}</span></option>
          <option value="{{quote}}"><span>{{quote}}</span></option>
        </select>
        <label for="volume">Volume</label>
        <input type="number" name="volume" value="" [(ngModel)]="sellVolume" placeholder="Enter amount">
      </div>

      <div>
        <label for="custSell">Buy</label>
        <select class="btn" name="custSell" [(ngModel)]="custSell">
          <option value="{{base}}" *ngIf="custBuy===quote"><span>{{base}}</span></option>
          <option value="{{quote}}" *ngIf="custBuy===base"><span>{{quote}}</span></option>
        </select>
        <label for="volume">Volume</label>
        <p name="volume">{{sellPrice}}</p>
      </div>
    </div>
  </form>
  <br>
  <button class="btn" name="button" (click)="tradeInit()"><span>Make Trade</span></button>
</div>

  </td>
</tr>
</table>
</div>

