<div class="menu"  style="background: linear-gradient(to right, #db1bf6, #19d7f8);">
<ul>
  <!-- <li><img src="../assets/images/finiq.png" width="100px;"></li>	 -->
  <li><a routerLink='/'><i class="fa fa-home" style="font-size: 24px;"></i>&nbsp;Home</a></li>
  <li><a routerLink='/forexapi'><i class="fa fa-usd" style="font-size: 24px;"></i>&nbsp;Forex</a></li>
  <li><a routerLink='/news'><i class="fa fa-newspaper-o" style="font-size: 24px;"></i>&nbsp;News</a></li>
  <li><a routerLink='/charts'><i class="fa fa-area-chart" style="font-size: 24px;"></i>&nbsp;Charts</a></li>
  <li><a routerLink='/trading'><i class="fa fa-calculator" style="font-size: 24px;"></i>&nbsp;Trading Platform</a></li>
  <li><a routerLink='/forexcrossrates'><i class="fa fa-crosshairs" style="font-size: 24px;"></i>&nbsp;Cross Rates</a></li>
  <li><a routerLink='/screener'><i class="fa fa-table" style="font-size: 24px;"></i>&nbsp;Screener</a></li>
  <li><a routerLink='/chatbot'><i class="fa fa-comments-o" style="font-size: 24px;"></i>&nbsp;Chat Bot</a></li>
  <li><a routerLink='/about'><i class="fa fa-info-circle" style="font-size: 24px;"></i>&nbsp;About Us</a></li>
</ul>
</div>
<router-outlet></router-outlet>
