.menu ul{
  display: inline-flex;
  margin: 20px;
}
.menu ul li{
  list-style: none;
  margin: 0 30px;
  cursor: pointer;
}
.menu ul li a{
  text-decoration: none;
  /*color: #b2b1b1;*/
  color: #fff;
}
.menu ul li a:hover{
  color: #19dafa !important;
}
