/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff9900;
}*/

.menu ul{
  display: inline-flex;
  margin: 20px;
}
.menu ul li{
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}
.menu ul li a{
  text-decoration: none;
  /*color: #b2b1b1;*/
  color: #fff;
}
.menu ul li a:hover{
  color: #19dafa !important;
}