.tradingview-widget-container {
  position: relative;
}
.tradingview-widget-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 34px;
  background-color: #fff;
}
.table-data{
	color: #fff;
}
table.center{
	margin-left: auto;
	margin-right: auto;
}
table .center tr, th, td{
	width: 600px;
}
table .simple{
  border-collapse: collapse;
  /*border: 1px solid #ddd;*/
}

  /*table.simple .right {
    margin-left:auto; 
  }

table .simple .left {
    margin-right: auto; 
  }*/
table.simple th, td {
  padding: 8px;
  text-align: center;
  /*border-bottom: 1px solid #ddd;*/
  color: #fff;
}
table .simple th{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
table .simple tr:hover {
	background-color: #19dafa;
	color: #000;
}