table.center{
	margin-left: auto;
	margin-right: auto;
}
table .center tr, th, td{
	width: 600px;
}
table .simple{
  border-collapse: collapse;
}
table.simple th, td {
  padding: 8px;
  text-align: center;
  color: #fff;
}
table .simple th{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.simple tr:hover{
	background-color: #04abc8;
  text-shadow: 1px 1px #000;
}