<hr>
<h1>News</h1>
<hr>
<table>
	<tr>
		<td valign="top" width="200px">
			<button class="btn orange" (click)="toggleDisplay()" style="width: 100%;">News Sources &nbsp;<div class="arrow down"></div></button>
			<div *ngIf = "!isShow">
				<select class="btn" [(ngModel)]="selectedSource">
					<option value="{{source.id}}" *ngFor="let source of mSources" (click)="searchArticles(source.id);">{{source.name}}</option>
					<hr style="padding-bottom: 0px;">
				</select>
				<button class="btn" type="button" name="button" (click)="searchArticles(selectedSource)">Get Updates</button>
			<!-- <div class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);">
					{{source.name}}
					<hr style="padding-bottom: 0px;">
			</div> -->
			</div>
		</td>
		<td valign="top" style="padding-left: 430px; border-left: 1px;">
			<div *ngFor="let article of mArticles">
			&nbsp;
			<div class="card"  ng-init="count=count+1">
		        	<!-- <img src="{'background-img':'url(../assets/images/'+source.id+'.png)'}"> -->
		        	<img src="{{article['urlToImage']}}" width="100%">
		        	<div class="container">
			            <h3 style="font-weight: bold;">{{article.title}}</h3>
			            <hr/>
			            {{article.description}}
			            <p align="center">
			            <a href="{{article.url}}" class="btn" style="text-decoration: none;">Read Full News</a>
			        	</p>
			    	</div>
			</div>
			</div>
		</td>
	</tr>
</table>
