.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #b5fff4;
}

.container {
  padding: 2px 16px;
}
ul{
    list-style: none;
    padding-left:0px;
    border-left: 1px;
}
.small{
	margin: auto;
	cursor: pointer;
	font-size: 14px;
	color: #19dafa;
	letter-spacing: 2px;
}
select option{
 	background-color: #42455a;
}