*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background: #42455a;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #42455a;
}
.btn{
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.btn:hover{
  color: #19dafa !important;
}
span{
  display: block;
  padding: 8px 22px;
}
h1,h2,h3,h4,h5,h6{
  color: #fff;
}
p, label{
  color: #fff;
}
.heading{
  padding-top: 15px;
}

select::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}



