/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body{
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#212529;
	text-align:left;
	background-color:#fff;
  padding: 2em 7em;
}

@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  .menu, .main, .right {
    width:100%;
  }
}
.example-spacer {
  flex: 1 1 auto;
}

.example-card{
    margin-top: 4px;
}

.example-header-image {
  background-size: cover;
}

.title{
    font-weight: bold;
}

.img-article{
    height: 350px;
}

.action-buttons{
    text-align: center;
}

.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.source-name {
    margin-left:5px;
}

.list-item:hover{
    cursor: pointer;
    background-color: #ffcc80;
}

hr{
	box-sizing:content-box;
	height:1px;
	overflow:visible;
	background-color: #ccc ;
	border: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #222222; }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }
 p {
  margin-top: 0;
  margin-bottom: 1rem; }
  table {
  border-collapse: collapse;
  width: 100%;
}
.form-group{
	display:-ms-flexbox;
	display:flex;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	-ms-flex-flow:row wrap;
	flex-flow:row wrap;
	-ms-flex-align:center;
	align-items:center;
	margin-bottom:0
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #EEEEEE;
	border: 2px solid #3498db;
	border-radius: 24px;
	padding: 7px 10px;
	font-size: 1rem;
	line-height: 1.5;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	transition: 0.5s;
	margin: 50 px auto;
}

.btn:hover {
	color: #0984e3;
	text-decoration: none;
	border-color:#2ecc71;
}

.orange {
  background-color: #ff9900;
  border-radius: 5px;
  border-color: orange;
}
.orange:hover{
  color: red;
  background-color: #ffcc80;
  border-color: red;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

footer{
	background-color: #ffffff;
	color: #808080;
  position: fixed;
  bottom: 0;
  width: 88%;
  text-align: center;
  padding-bottom: 5px;
}

header{
  background-color: #737373;
  color: white;
  text-align: center;
}
*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background: #42455a;
}
header{
  color: #fff;
  text-align: center;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #42455a;
}
.btn{
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.btn:hover{
  color: #19dafa !important;
}
.btn-grad{
   text-decoration: none;
   color: #fff;
   border: 2px solid transparent;
   border-radius: 20px;
   background-image: linear-gradient(to right,#fd00da,#19dafa);
   /*background-color: #fd00da;*/
   background-origin: border-box;
   background-clip: content-box, border-box;
}
span{
  display: block;
  padding: 8px 22px;
}
h1,h2,h3,h4,h5,h6{
  color: #fff;
}
p, label{
  color: #fff;
}
.heading{
  padding-top: 15px;
}

select::-moz-focus-inner {
  border: 0;
}
button::-moz-focus-inner {
  border: 0;
}


