<div class="banner">
  <div class="app-text">
    <h1>FINIQ Forex Platform</h1>
    <p>Forex trading turns that little airport or ATM currency exchange into a sport. Maybe you have a balanced portfolio in place, and now you’re looking for an adventure with some extra cash. Provided you know what you’re doing, forex trading can be lucrative, and it requires limited initial investment. Even so, it can be a bit overwhelming for amateurs and it's better to practice before you actually dive in.</p>
<p>We provide an interactive basic forex platform for experimenting with forex trading. You can perform technical analysis, go over history of different currency pairs and compare currency rates. You can even have some fun with Bruce. For clarification, Bruce is our chatbot.</p>
  </div>
  <div class="app-picture">
    <img src="../assets/images/background.png" alt="">
  </div>
</div>
