<div class="banner">
  <div class="app-text">
    <h1>FINIQ Forex Platform</h1>
    <p>Forex trading turns that little airport or ATM currency exchange into a sport. When investors trade forex — commonly called FX — they’re buying and selling currencies over the foreign exchange market. It’s the largest financial market in the world but one in which many individual investors have never dabbled, in part because it’s highly speculative and complex.
A little healthy trepidation serves investors well. Active trading strategies and complex investment products don’t have a place in most portfolios. We strongly recommend low-cost index funds for long-term goals like saving for retirement.
But maybe you have that balanced portfolio in place, and now you’re looking for an adventure with some extra cash. Provided you know what you’re doing — please take those words to heart — forex trading can be lucrative, and it requires a limited initial investment.</p>
<p>We provide an interactive basic forex platform for experimenting with forex trading. You can perform technical analysis, go over history of  different currency pairs and compare currency rates. You can even have some fun with Bruce. For clarification, Bruce is our chatbot.</p>
  </div>
  <div class="app-picture">
    <img src="../assets/images/background.png" alt="">
  </div>
</div>
